.colores{
    /* Paleta 1 */
    color:#22b3cc;
    color:#f45e61;
    color:#115570;
    color:#5a7fb0;
    color:#cbd7bb;

    /* Paleta 2 */

    color:#2c9fc4;
    color:#f464d4;
    color:#3a206c;
    color:#55a2a4;
    color:#c5bdd5;
    color:#f72585;
}

