@font-face {
    font-family: "letra game";
    src: url("./PressStart2P-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

h1{
    color:#22b3cc;
    font-size: 4em;    
}

h6{
    color:#f72585;
    font-size: 1em;
}
body{
    background-color: #23035f;
    color: #a63737;
    font-family: 'letra game','Roboto', sans-serif;
}

a{
    color: #3a206c;
    text-decoration: none;
}

a:hover {
color: #115570;
}

.contenedor{
    width: 90%;
    max-width: 1700px; /*ancho m치ximo de la p치gina*/
    margin: 20px auto; /*auto permite centrar nuestra p치gina en forma horizontal*/
    display: grid;
    gap: 30px; /*nos ahorramos tenes que poner m치rgenes entre los elementos*/

    /*3 columnas: contenido (con 2 widgets) + sidebar*/
    grid-template-colums: repeat(4,1fr);

    /*4 filas: header, contenido, widgets, footer*/
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "encabezado encabezado encabezado encabezado"
                        "cuotas presentacion presentacion gamers"
                        "contenido contenido contenido contenido"
                        "pie pie pie pie";
}

.contenedor > div,
.contenedor .encabezado,
.contenedor .presentacion,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .pie
.contenedor .gamers
.contenedor .cuotas {
    padding: 20px;
    border-radius: 4px;
}

aside{
    margin:auto;
    font-size: 1.8rem;
    color: #f72585;
    /* ESTO LO DEBERIAMOS ANIMAR */
    
}

.contenedor .encabezado{
    height: 100px;
    background-image: url(./00012-1265850182.png);
    background-position:center;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: encabezado; 
}
.contenedor .presentacion{
    margin: auto;
    height: 700px;
    width: 800px;
    background-image: url(./00000-1110354863.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    background-position:center;
    background-size:cover;
    grid-area: presentacion; 
}

.contenedor .presentacion-ps4{
    margin: auto;
    height: 600px;
    width: 500px;
    background-image: url(../img/ps4/doom.jpg);
    display: flex;
    flex-direction: column;
    align-items: ;
    justify-content:space-between;
    background-position:center;
    background-size:cover;
    grid-area: presentacion; 
}

contenedor .presentacion-ps4.2{
  
    height: 600px;
    width: 500px;
    display: ;
    flex-direction: column;
    justify-content:space-between;
    background-position:center;
    background-size:cover; 
}

.contenedor .presentacion-ps5{
    margin: auto;
    height: 600px;
    width: 500px;
    background-image: url(../img/ps5/elden_ring.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    background-position:center;
    background-size:cover;
    grid-area: presentacion; 
}

.contenedor .formulario{
    margin: auto;
    height: 500px;
    width: 700px;
    background-image: url(./00000-1110354863.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    background-position:center;
    background-size:cover;
    grid-area: presentacion; 
}


.contenedor .contenido{

    grid-area: contenido; 
    /* QUEDA PENDIENTE VER UNA FUENTE MAS CLARA DE LEER */
    color:#115570;
}

.contenedor .contenido-ps4{

    grid-area: contenido; 
    color:#115570;
    font: 700;
}

.contenedor .sidebar{
    background: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: sidebar; 
}

.contenedor .widget-1,
.contenedor .widget-2{
    background: lightskyblue;
    color: #000;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-1{
    grid-area: widget-1; 
}

.contenedor .widget-2{
    grid-area: widget-2; 
}

.contenedor .pie{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 5%;
    color: #f72585;
    height: 8em;
    background-image: url(./00012-1265850182.png);
    background-position:bottom;
    background-size:cover;
    grid-area: pie; 
}

.contenedor .pie .redes{
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin: 20px;
}
    
.contenedor a.iconoflotante{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 10%;
    height: 10%;
}





@media only screen and (max-width: 600px){
    .contenedor{
        grid-template-areas: "encabezado encabezado encabezado"
                             "contenido contenido contenido"
                             "sidebar sidebar sidebar"
                             "widget-1 widget-1 widget-2"
                             "pie pie pie";
    }
}

@media only screen and (max-width: 768px){
    .contenedor{
        grid-template-areas: "encabezado encabezado encabezado"
                             "contenido contenido contenido"
                             "widget-1 widget-1 widget-1"
                             "widget-2 widget-2 widget-2"
                             "sidebar sidebar sidebar"
                             "pie pie pie";
    }
}

@media only screen and (max-width: 1200px){
    .contenedor{
        grid-template-areas: "encabezado encabezado encabezado"
                             "contenido contenido contenido"
                             "widget-1 widget-1 widget-1"
                             "widget-2 widget-2 widget-2"
                             "sidebar sidebar sidebar"
                             "pie pie pie";
    }
}

@media only screen and (max-width: 992px){
    .contenedor{
        grid-template-areas: "encabezado encabezado encabezado"
                             "contenido contenido contenido"
                             "widget-1 widget-1 widget-1"
                             "widget-2 widget-2 widget-2"
                             "sidebar sidebar sidebar"
                             "pie pie pie";
    }
}